{% extends "base.html" %}
{% load static %}

{% block title %}Удаление заказа{% endblock %}

{% block content %}
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Заказы/</span>Удаление заказа</h4>
    <p>Вы действительно хотите удалить заказ "{{ order.name }}"?</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Удалить</button>
      <a href="{% url 'orders:list-orders' %}" class="btn btn-secondary">Отмена</a>
    </form>
  </div>
{% endblock %}
