{% extends "base.html" %}
{% load static %}

{% block title %}Консолидация{% endblock %}

{% block content %}
    {{ package_types|json_script:"packageTypesJson" }}
    {{ incomings_data|json_script:"incomingsJson" }}
    {{ initial_incomings_data|json_script:"initialIncomingsJson" }}

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Блок для отображения сообщений -->
        {% if messages %}
            <div id="alert-box" class="mb-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Отправка/</span>Консолидация</h4>
        <div class="card mb-4">
            <div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row">
                <h5>Консолидация</h5>
                <div class="action-btns">
                    <button type="submit" form="consolidation-form" name="in_work"
                            class="btn btn-sm btn-label-success me-3 waves-effect">
                        <span class="bi bi-check-circle me-2"></span>
                        В работу
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h6>1. Основные детали</h6>
                <form id="consolidation-form" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="selected_incomings" id="selected-incomings">

                    <div class="row g-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="client">Клиент</label>
                                <input type="text" id="client" name="client" class="form-control" list="client-list"
                                       placeholder="Начните вводить имя, email или телефон"
                                       value={{ selected_incomings.first.client.profile.phone_number }}>
                                <datalist id="client-list"></datalist>


                            </div>

                        </div>
                        <div class="col-md-3">
                            {{ form.delivery_type.label }}
                            {{ form.delivery_type }}
                        </div>
                        <div class="col-md-3">
                            <label for="track_code">Трек-код</label>
                            <input type="text" name="track_code" class="form-control" value="{{ consolidation_code }}">
                        </div>
                        <div class="col-md-3">
                            {{ form.consolidation_date.label }}
                            {{ form.consolidation_date }}
                        </div>
                    </div>
                    <hr class="my-4 mx-n4">
                    <h6>2. Детали отправления</h6>
                    <div class="row g-4">
                        <div class="col-12">
                            <h6>Выбранные поступления</h6>
                            <ul id="consolidation-list" class="list-group">
                                {% for selected_incoming in selected_incomings %}
                                    <li class="list-group-item"
                                        data-id="{{ selected_incoming.id }}"
                                        data-tracker-code="{{ selected_incoming.tracker.all.0.tracking_codes.all.0.code|default_if_none:"-" }}"
                                        data-inventory-number="{{ selected_incoming.inventory_numbers.first.number|default_if_none:"-" }}"
                                        data-arrival-date="{{ selected_incoming.arrival_date|default_if_none:"-" }}"
                                        data-tag="{{ selected_incoming.tag.name|default_if_none:"-" }}"
                                        data-client-phone="{{ selected_incoming.client.profile.phone_number|default_if_none:"-" }}">
                                        <div class="row">
                                            <!-- Поле для поступления (ID) -->
                                            <div class="col-md-3">
                                                <label for="selected_incoming_{{ selected_incoming.id }}">Поступление</label>
                                                <button type="button" class="btn btn-outline-primary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#incomingModal{{ selected_incoming.id }}">
                                                    Показать трек-коды
                                                </button>

                                                <!-- Модальное окно -->
                                                <div class="modal fade" id="incomingModal{{ selected_incoming.id }}"
                                                     tabindex="-1"
                                                     aria-labelledby="incomingModalLabel{{ selected_incoming.id }}"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="incomingModalLabel{{ selected_incoming.id }}">
                                                                    Детали поступления #{{ selected_incoming.id }}</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Закрыть"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h6>Трек-коды и их инвентарные номера:</h6>
                                                                <ul>
                                                                    {% for tracker in selected_incoming.tracker.all %}
                                                                        {% for code in tracker.tracking_codes.all %}
                                                                            <li><strong>{{ code.code }}</strong>
                                                                                <ul>
                                                                                    {% for inventory_number in code.inventory_numbers.all %}
                                                                                        <li>{{ inventory_number.number }}</li>
                                                                                    {% empty %}
                                                                                        <li>Нет связанных инвентарных
                                                                                            номеров
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                        {% endfor %}
                                                                    {% empty %}
                                                                        <li>Нет трек-кодов</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Закрыть
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <!-- Поле для количества мест -->
                                            <div class="col-md-3">
                                                <label for="places_count_{{ selected_incoming.id }}">Количество
                                                    мест (макс {{ selected_incoming.places_count }})</label>
                                                <input type="number"
                                                       name="places_consolidated"
                                                       class="form-control"
                                                       min="1"
                                                       max="{{ selected_incoming.places_count }}"
                                                       value="{{ selected_incoming.places_count }}"
                                                       step="1"
                                                       data-bs-toggle="tooltip"
                                                       title="Выберите количество мест (от 1 до {{ selected_incoming.places_count }})">
                                            </div>

                                            <!-- Поле для выбора упаковки -->
                                            <div class="col-md-3">
                                                <label for="package_type_{{ selected_incoming.id }}">Упаковка</label>
                                                <select name="package_type_{{ selected_incoming.id }}"
                                                        class="form-select">
                                                    {% for package_type in package_types %}
                                                        <option value="{{ package_type.0 }}"
                                                                {% if package_type.0 == selected_incoming.package_type %}selected{% endif %}>
                                                            {{ package_type.1 }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <!-- Кнопки действий -->
                                            <div class="col-md-3 d-flex align-items-center">
                                                <!-- Кнопка открытия модального окна -->
                                                <button type="button" class="btn btn-icon btn-outline-info me-3"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#incomingDetailModal{{ selected_incoming.id }}">
                                                    <span class="bi bi-zoom-in me-2"></span>
                                                </button>
                                                <button type="button" class="btn btn-icon btn-outline-danger"
                                                        data-id="{{ selected_incoming.id }}"
                                                        onclick="removeIncomingFromList('{{ selected_incoming.id }}')">
                                                    <i class="bi bi-x me-2"></i>
                                                </button>


                                            </div>
                                        </div>

                                        <!-- Модальное окно для отображения деталей поступления -->
                                        <div class="modal fade" id="incomingDetailModal{{ selected_incoming.id }}"
                                             tabindex="-1"
                                             aria-labelledby="incomingDetailModalLabel{{ selected_incoming.id }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="incomingDetailModalLabel{{ selected_incoming.id }}">
                                                            Детали поступления #{{ selected_incoming.id }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Данные поступления -->
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item"><strong>Трек-коды:</strong>
                                                                <ul>
                                                                    {% for tracker in selected_incoming.tracker.all %}
                                                                        {% for code in tracker.tracking_codes.all %}
                                                                            <li>{{ code.code }}</li>
                                                                        {% endfor %}
                                                                    {% empty %}
                                                                        <li>Коды не найдены</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                            <li class="list-group-item"><strong>Инвентарные
                                                                номера:</strong>
                                                                <ul>
                                                                    {% for inventory_number in selected_incoming.inventory_numbers.all %}
                                                                        <li>{{ inventory_number.number }}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                            <li class="list-group-item"><strong>Количество
                                                                мест:</strong> {{ selected_incoming.places_count }}</li>
                                                            <li class="list-group-item"><strong>Дата
                                                                прибытия:</strong> {{ selected_incoming.arrival_date }}
                                                            </li>
                                                            <li class="list-group-item">
                                                                <strong>Размер:</strong> {{ selected_incoming.size|default:"-" }}
                                                            </li>
                                                            <li class="list-group-item">
                                                                <strong>Вес:</strong> {{ selected_incoming.weight }} кг
                                                            </li>
                                                            <li class="list-group-item">
                                                                <strong>Статус:</strong> {{ selected_incoming.get_status_display }}
                                                            </li>
                                                            <li class="list-group-item"><strong>Фото:</strong>
                                                                <div class="row">
                                                                    {% if selected_incoming.images_set.all %}
                                                                        {% for photo in selected_incoming.images_set.all %}
                                                                            <div class="col-md-4">
                                                                                <img src="{{ photo.photo.url }}"
                                                                                     class="img-fluid"
                                                                                     alt="Фото поступления">
                                                                            </div>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        <p>Нет изображений</p>
                                                                    {% endif %}
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Закрыть
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                            <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal"
                                    data-bs-target="#consolidationModal">
                                Выбрать для консолидации
                            </button>
                        </div>
                    </div>
                    <hr class="my-4 mx-n4">
                    <h6>3. Инструкция</h6>
                    <div class="row g-4">
                        <div class="col-12">
                            {{ form.instruction }}
                        </div>
                    </div>
                    {{ form.errors }}
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно для выбора поступлений -->
    <div class="modal fade" id="consolidationModal" tabindex="-1" aria-labelledby="consolidationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="consolidationModalLabel">Выбор поступлений для консолидации</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-datatable table-responsive">
                        <table id="selection-table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th><input class="form-check-input" type="checkbox" id="modal-select-all"></th>
                                <th>Трек-номер</th>
                                <th>Инвентарные номера</th>
                                <th>Дата прибытия</th>
                                <th>Тег</th>
                                <th>Клиент</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for incoming in incomings %}
                                {% if incoming.status == "Consolidated" %}
                                {% else %}
                                    <tr>
                                        <td><input type="checkbox" class="form-check-input" name="selected_incoming"
                                                   value="{{ incoming.id }}"></td>
                                        <td>
                                            <!-- Выводим трек-коды через трекеры -->
                                            <ul>
                                                {% for tracker in incoming.tracker.all %}
                                                    {% for code in tracker.tracking_codes.all %}
                                                        <li>{{ code.code }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <!-- Выводим инвентарные номера -->
                                            <ul>
                                                {% for inventory_number in incoming.inventory_numbers.all %}
                                                    <li>{{ inventory_number.number }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>{{ incoming.arrival_date }}</td>
                                        <td>{{ incoming.tag.name }}</td>
                                        <td>{{ incoming.client.profile.phone_number }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="consolidation-button"
                            form="consolidation-selection-form">Консолидация
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/client-searching-incoming-new.js' %}"></script>
    <script src="{% static 'js/auto-local-datetime-consolidation.js' %}"></script>
    <!-- Логика для работы с удаленными поступлениями -->
    <script>
        // Инициализируем массив для хранения выбранных инкамингов как глобальную переменную
        let selectedIncomingsData = [];
        let tempSelectedIncomings = [];

        function updateSelectedIncomingsField() {
            const selectedIncomingsField = document.getElementById('selected-incomings');
            const selectedIncomingsIds = selectedIncomingsData.map(item => item.id);
            const clientInput = document.getElementById('client');
            selectedIncomingsField.value = selectedIncomingsIds.join(',');
            clientInput.disabled = selectedIncomingsIds.length > 0;
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Получаем данные всех инкамингов и типов упаковки
            const allIncomingsData = JSON.parse(document.getElementById('incomingsJson').textContent);
            const packageTypes = JSON.parse(document.getElementById('packageTypesJson').textContent);
            const initialIncomingsData = JSON.parse(document.getElementById('initialIncomingsJson').textContent);
            const selectedIncomingsField = document.getElementById('selected-incomings');
            const clientInput = document.getElementById('client');


            // Обновляем поле перед отправкой формы
            const form = document.getElementById('consolidation-form');
            form.addEventListener('submit', function () {
                updateSelectedIncomingsField();
            });

            initialIncomingsData.forEach(incoming => {
                selectedIncomingsData.push(incoming);
            });

            // Функция для добавления инкаминга в интерфейс и создания его модального окна
            function addIncomingToList(incomingData) {
                const newItem = document.createElement('li');
                newItem.className = 'list-group-item';
                newItem.setAttribute('data-id', incomingData.id);
                selectedIncomingsData.push(incomingData)

                // Создаем HTML разметку для отображения инкаминга и модального окна
                newItem.innerHTML = `
        <div class="row">
            <div class="col-md-3">
                <label for="selected_incoming_${incomingData.id}">Поступление</label>
                <input type="text" name="incoming_inv" class="form-control" value="${incomingData.inventory_numbers[0] || '-'}">
            </div>
            <div class="col-md-3">
                <label for="places_count_${incomingData.id}">Количество мест (макс. ${incomingData.places_count})</label>
                <input type="number" name="places_consolidated" class="form-control" min="1" max="${incomingData.places_count}" value="${incomingData.places_count}" step="1">
            </div>
            <div class="col-md-3">
                <label for="package_type_${incomingData.id}">Упаковка</label>
                <select name="package_type_${incomingData.id}" class="form-select">
                    ${packageTypes.map(type => `<option value="${type[0]}" ${type[0] === incomingData.package_type ? 'selected' : ''}>${type[1]}</option>`).join('')}
                </select>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <button type="button" class="btn btn-icon btn-outline-info me-3" onclick="openIncomingModal('${incomingData.id}')">
                    <span class="bi bi-zoom-in me-2"></span>
                </button>
                <button type="button" class="btn btn-icon btn-outline-danger" onclick="removeIncomingFromList('${incomingData.id}')">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>

        <!-- Модальное окно для отображения деталей поступления -->
        <div class="modal fade" id="incomingDetailModal${incomingData.id}" tabindex="-1" aria-labelledby="incomingDetailModalLabel${incomingData.id}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="incomingDetailModalLabel${incomingData.id}">
                            Детали поступления #${incomingData.id}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Трек-коды:</strong> ${incomingData.tracking_codes ? incomingData.tracking_codes.join(', ') : 'Коды не найдены'}</li>
                            <li class="list-group-item"><strong>Инвентарные номера:</strong> ${incomingData.inventory_numbers.join(', ')}</li>
                            <li class="list-group-item"><strong>Количество мест:</strong> ${incomingData.places_count}</li>
                            <li class="list-group-item"><strong>Дата прибытия:</strong> ${incomingData.arrival_date || '-'}</li>
                            <li class="list-group-item"><strong>Размер:</strong> ${incomingData.size || '-'}</li>
                            <li class="list-group-item"><strong>Вес:</strong> ${incomingData.weight || '-'} кг</li>
                            <li class="list-group-item"><strong>Статус:</strong> ${incomingData.status || '-'}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    `;

                // Добавляем новый элемент инкаминга со встроенным модальным окном в список
                document.getElementById('consolidation-list').appendChild(newItem);
                updateSelectedIncomingsField();
            }


            // Обработка выбора чекбоксов без добавления в интерфейс
            document.querySelectorAll('#selection-table input[name="selected_incoming"]').forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const incomingId = this.value;
                    const incomingData = allIncomingsData.find(item => item.id === incomingId);

                    if (this.checked && incomingData) {
                        tempSelectedIncomings.push(incomingData);
                    } else {
                        tempSelectedIncomings = tempSelectedIncomings.filter(item => item.id !== incomingId);
                    }
                });
            });

            // Добавляем обработчик для кнопки "Консолидация"
            document.querySelector('[name="consolidation-button"]').addEventListener('click', function () {
                tempSelectedIncomings.forEach(incomingData => {
                    updateSelectedIncomingsField();
                    addIncomingToList(incomingData);
                    document.querySelector(`#selection-table input[value="${incomingData.id}"]`).closest('tr').style.display = 'none';
                });
                tempSelectedIncomings = []; // очистка временного массива
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const clientInput = document.getElementById("client");
            const selectionTableRows = document.querySelectorAll("#selection-table tbody");
            const selectedIncomingsIds = selectedIncomingsData.map(item => item.id);
            clientInput.disabled = selectedIncomingsIds.length > 0;

            if (!clientInput) return;

            function filterRows() {
                const clientValue = clientInput.value.trim();
                let visibleRows = 0;

                // Проверка на наличие хотя бы одного числа в clientValue
                const containsNumber = /\d/.test(clientValue);

                // Флаг для отслеживания, если нет идеального совпадения
                let noMatchFound = true;

                selectionTableRows.forEach(row => {
                    const clientCell = row.querySelector("td:last-child");
                    if (clientCell) {
                        const clientText = clientCell.textContent.trim();
                        // Точное совпадение или поле не содержит чисел
                        const matches = (containsNumber ? clientText === clientValue : clientText === "");

                        row.style.display = matches ? "" : "none";
                        if (matches) {
                            visibleRows++; // Подсчёт видимых строк
                            noMatchFound = false; // Есть хотя бы одно совпадение
                        }
                    }
                });

                // Показываем / скрываем сообщение "не найдено поступлений"
                let noResultsMessage = document.getElementById("no-results-message");
                if (!noResultsMessage) {
                    noResultsMessage = document.createElement("tr");
                    noResultsMessage.id = "no-results-message";
                    noResultsMessage.innerHTML = `<td colspan="100%" style="text-align: center; font-weight: bold;">Не найдено поступлений для этого клиента</td>`;
                    console.log("da", selectionTableRows[0])
                    selectionTableRows[0].parentNode.appendChild(noResultsMessage);
                }

                // Если поле не содержит чисел или нет идеального совпадения, показываем сообщение
                if (!containsNumber || noMatchFound) {
                    noResultsMessage.style.display = visibleRows === 0 ? "" : "none";
                } else {
                    noResultsMessage.style.display = visibleRows === 0 ? "" : "none";
                }
            }

            // Фильтрация при изменении значения в поле
            clientInput.addEventListener("input", filterRows);

            // Фильтрация после загрузки (когда Django уже вставил значение)
            setTimeout(filterRows, 1000);
        });

        // Обновленная функция удаления
        function removeIncomingFromList(incomingId) {
            const listItem = document.querySelector(`#consolidation-list [data-id="${incomingId}"]`);
            if (listItem) {
                listItem.remove();
            }

            const checkbox = document.querySelector(`#selection-table input[value="${incomingId}"]`);
            if (checkbox) {
                checkbox.checked = false;
                checkbox.closest('tr').style.display = '';
            } else {
                const incomingData = selectedIncomingsData.find(item => item.id === incomingId);
                if (incomingData) {
                    const tableBody = document.querySelector('#selection-table tbody');
                    const newRow = document.createElement('tr');
                    newRow.innerHTML = `
                        <td><input type="checkbox" class="form-check-input" name="selected_incoming" value="${incomingData.id}"></td>
                        <td><ul>${incomingData.tracking_codes ? incomingData.tracking_codes.map(code => `<li>${code}</li>`).join('') : '<li>Коды не найдены</li>'}</ul></td>
                        <td><ul>${incomingData.inventory_numbers ? incomingData.inventory_numbers.map(number => `<li>${number}</li>`).join('') : '<li>Номера не найдены</li>'}</ul></td>
                        <td>${incomingData.arrival_date || '-'}</td>
                        <td>${incomingData.tag || '-'}</td>
                        <td>${incomingData.client_phone || '-'}</td>
                    `;
                    tableBody.appendChild(newRow);
                    const newCheckbox = newRow.querySelector('input[type="checkbox"]');
                    newCheckbox.addEventListener('change', function () {
                        if (this.checked && incomingData) {
                            tempSelectedIncomings.push(incomingData);
                        } else {
                            tempSelectedIncomings = tempSelectedIncomings.filter(item => item.id !== incomingId);
                        }
                    });
                }
            }

            selectedIncomingsData = selectedIncomingsData.filter(item => item.id !== incomingId);
            updateSelectedIncomingsField(); // Добавляем вызов для обновления состояния после удаления
        }

    </script>
    <script>
        // Глобальные функции, доступные для вызова из onclick
        function openIncomingModal(incomingId) {
            const modalElement = document.getElementById(`incomingDetailModal${incomingId}`);
            if (modalElement) {
                const modal = new bootstrap.Modal(modalElement);
                modal.show();
            } else {
                console.error("Модальное окно не найдено для ID:", incomingId);
            }
        }


    </script>

{% endblock %}
