{% extends "base.html" %}
{% load static %}
{% block title %}Журнал консолидации{% endblock %}
{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Отправка/</span>Консолидация</h4>

        <!-- Форма поиска -->
        <form method="GET" action="">
            <div class="input-group mb-3">
                <input type="text" name="q" class="form-control"
                       aria-label="Поиск по трек-коду или номеру клиента"
                       placeholder="Поиск по трек-коду или номеру клиента"
                       value="{{ query|default_if_none:''|escape }}">
                <button class="btn btn-primary" type="submit">Поиск</button>
            </div>
        </form>

        <!-- Форма выбора отправлений для консолидации -->
        <form id="incoming-selection-form" method="POST" action="{% url 'deliveries:new-package' %}">
            {% csrf_token %}
            <div class="card-datatable table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" id="select-all"></th>
                        <th>
                            <a href="?q={{ query|default_if_none:''|escape }}&sort_by=track_code__code&order={% if sort_by == 'track_code__code' and order == 'asc' %}desc{% else %}asc{% endif %}">
                                Трек-код
                            </a>
                        </th>
                        <th>
                            <a href="?q={{ query|default_if_none:''|escape }}&sort_by=created_at&order={% if sort_by == 'created_at' and order == 'asc' %}desc{% else %}asc{% endif %}">
                                Дата создания
                            </a>
                        </th>
                        <th>
                            <a href="?q={{ query|default_if_none:''|escape }}&sort_by=client&order={% if sort_by == 'client' and order == 'asc' %}desc{% else %}asc{% endif %}">
                                Клиент
                            </a>
                        </th>
                        <th>
                            <a href="?q={{ query|default_if_none:''|escape }}&sort_by=delivery_type&order={% if sort_by == 'delivery_type' and order == 'asc' %}desc{% else %}asc{% endif %}">
                                Тип доставки
                            </a>
                        </th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for consolidation in page_obj %}
                        <tr>
                            {% if consolidation.status == "Packaging" %}
                            <td><input type="checkbox" class="form-check-input" name="selected_consolidations"
                                       value="{{ consolidation.id }}"></td>
                                {% else %}
                                <td> Еще не готово к упаковке
                                </td>
                            {% endif %}
                            <td>{{ consolidation.track_code.code|default_if_none:"-" }}</td>
                            <td>{{ consolidation.created_at|date:"d.m.Y" }}</td>
                            <td>{{ consolidation.client.profile.phone_number|default_if_none:"-" }}</td>
                            {% if consolidation.delivery_type == "Avia" %}
                                <td><span
                                        class="badge rounded-pill bg-label-danger">{{ consolidation.delivery_type }}</span>
                                </td>
                            {% elif consolidation.delivery_type == "Auto" %}
                                <td><span
                                        class="badge rounded-pill bg-label-primary">{{ consolidation.delivery_type }}</span>
                                </td>
                            {% elif consolidation.delivery_type == "Express Train" %}
                                <td><span
                                        class="badge rounded-pill bg-label-success">{{ consolidation.delivery_type }}</span>
                                </td>
                            {% endif %}
                            <td>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        data-bs-target="#consolidationModal{{ consolidation.id }}">
                                    <span class="bi bi-zoom-in me-2"></span>
                                </button>

                                <!-- Модальное окно -->
                                <div class="modal fade" id="consolidationModal{{ consolidation.id }}" tabindex="-1"
                                     aria-labelledby="consolidationModalLabel{{ consolidation.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="consolidationModalLabel{{ consolidation.id }}">Подробная
                                                    информация</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p><strong>Трек-код:</strong> {{ consolidation.track_code.code }}</p>
                                                <p><strong>Дата
                                                    создания:</strong> {{ consolidation.created_at|date:"d.m.Y H:i" }}
                                                </p>
                                                <p>
                                                    <strong>Клиент:</strong> {{ consolidation.client.profile.phone_number|default_if_none:"-" }}
                                                </p>
                                                <p><strong>Тип доставки:</strong> {{ consolidation.delivery_type }}</p>
                                                <p>
                                                    <strong>Инструкция:</strong> {{ consolidation.instruction|default_if_none:"Нет инструкции" }}
                                                </p>
                                                <p><strong>Инвентарные номера:</strong></p>
                                                <ul>
                                                    {% for incoming in consolidation.incomings.all %}
                                                        <li>{{ incoming.inventory_numbers.all|join:", " }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Закрыть
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">Нет данных для отображения.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Упаковка</button>
        </form>

        <!-- Pagination -->
        <div class="pagination-container">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?q={{ query|default_if_none:''|escape }}&sort_by={{ sort_by }}&order={{ order }}&page=1">&laquo; Первая</a>
                    <a href="?q={{ query|default_if_none:''|escape }}&sort_by={{ sort_by }}&order={{ order }}&page={{ page_obj.previous_page_number }}">Назад</a>
                {% endif %}
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?q={{ query|default_if_none:''|escape }}&sort_by={{ sort_by }}&order={{ order }}&page={{ page_obj.next_page_number }}">Вперёд</a>
                    <a href="?q={{ query|default_if_none:''|escape }}&sort_by={{ sort_by }}&order={{ order }}&page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- Скрипт для выбора всех чекбоксов -->
    <script>
        document.getElementById('select-all').addEventListener('click', function () {
            var checkboxes = document.querySelectorAll('input[name="selected_consolidations"]');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        });
    </script>
{% endblock %}
