{% extends "base.html" %}
{% load static %}
{% block title %}Журнал консолидации{% endblock %}
{% block content %}
    <script src="{% static 'js/search-handler.js' %}"></script>
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Отправка/</span>Консолидация</h4>

        {% include 'deliveries/components/search_form.html' %}

        <div class="card-datatable table-responsive">
            {% include 'deliveries/components/consolidation_table.html' %}
        </div>

        {% include 'deliveries/components/pagination.html' %}
    </div>
{% endblock %}

