{% extends "base.html" %}
{% load static %}

{% block title %}Добавить поступление{% endblock %}

{% block content %}
    <script src="{% static 'js/auto-local-datetime-arrival-date.js' %}"></script>
    <script src="{% static 'js/input-size-mask.js' %}"></script>
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Приемка/</span>Поступление</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="accordion" id="collapsibleSection">
                <!-- первая строка -->
                <div class="card accordion-item active">
                    <h2 class="accordion-header" id="headingBaseIncoming">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseBaseIncoming" aria-expanded="true"
                                aria-controls="collapseBaseIncoming">
                            1. Детали поступления
                        </button>
                    </h2>
                    <div id="collapseBaseIncoming" class="accordion-collapse collapse show"
                         aria-labelledby="headingBaseIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <!-- Поля формы Incoming -->
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="tracker-input">Трекеры</label>
                                        <input id="tracker-input" list="tracker-list" class="form-control"
                                               placeholder="Введите код трекера">
                                        <datalist id="tracker-list">
                                            {% for track in trackers %}
                                                {% for code in track.codes %}
                                                    <option value="{{ code }}"></option>
                                                    <!-- Выводим каждый код в отдельный <option> -->
                                                {% endfor %}
                                            {% endfor %}
                                        </datalist>

                                        <!-- Скрытое поле для передачи выбранных трекеров -->
                                        <input type="hidden" id="selected-trackers-input" name="tracker">

                                        <!-- Блок для отображения выбранных трекеров -->
                                        <div id="selected-trackers" class="mt-2">
                                            <!-- Здесь будут динамически добавляться выбранные коды -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.places_count.label_tag }} {{ form.places_count }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.arrival_date.label_tag }} {{ form.arrival_date }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.state.label_tag }} {{ form.state }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.package_type.label_tag }} {{ form.package_type }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.status.label_tag }}
                                        {{ form.status }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.tag.label_tag }}
                                        {{ form.tag }}
                                        <datalist id="tag-list">
                                            {% for tag in tags %}
                                                <option value="{{ tag.name }}"></option>
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                </div>

                                <!-- Поле для выбора инвентарных номеров -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inventory-input">Инвентарные номера</label>
                                        <input id="inventory-input" list="inventory-list" class="form-control"
                                               placeholder="Введите инвентарный номер">
                                        <datalist id="inventory-list">
                                            {% for inventory_number in available_inventory_numbers %}
                                                {% if inventory_number.is_occupied == False %}
                                                    <option value="{{ inventory_number.number }}"></option>
                                                {% endif %}
                                            {% endfor %}
                                        </datalist>

                                        <!-- Скрытое поле для передачи выбранных инвентарных номеров -->
                                        <input type="hidden" id="selected-inventory-input" name="inventory_numbers">

                                        <!-- Блок для отображения выбранных инвентарных номеров -->
                                        <div id="selected-inventory-numbers" class="mt-2">
                                            <!-- Здесь будут динамически добавляться выбранные инвентарные номера -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- вторая строка: фотографии -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingPhotoIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePhotoIncoming" aria-expanded="false"
                                aria-controls="collapsePhotoIncoming">
                            2. Фотографии поступления
                        </button>
                    </h2>
                    <div id="collapsePhotoIncoming" class="accordion-collapse collapse"
                         aria-labelledby="headingPhotoIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div id="formset-container">
                                            {{ formset.management_form }}
                                            <label for="photo">Загрузить фото:</label>
                                            <input type="file" name="photo" multiple>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- третья строка: прочая информация -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingOthersIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOthersIncoming" aria-expanded="true"
                                aria-controls="collapseOthersIncoming">
                            3. Прочая информация
                        </button>
                    </h2>
                    <div id="collapseOthersIncoming" class="accordion-collapse collapse"
                         aria-labelledby="headingOthersIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <!-- Прочие поля формы -->
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.size.label_tag }} {{ form.size }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.weight.label_tag }} {{ form.weight }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Добавить поступление</button>
        {{ form.errors }}
        </form>
    </div>
    <script src="{% static 'js/disabling-additional-fields.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const trackerInput = document.getElementById('tracker-input');
            const selectedTrackersContainer = document.getElementById('selected-trackers');
            const selectedTrackersInput = document.getElementById('selected-trackers-input');

            let selectedTrackers = [];

            function updateSelectedTrackers() {
                selectedTrackersContainer.innerHTML = '';
                selectedTrackersInput.value = selectedTrackers.join(',');  // Обновляем скрытое поле

                selectedTrackers.forEach((code, index) => {
                    const trackerDiv = document.createElement('div');
                    trackerDiv.classList.add('selected-tracker', 'badge', 'bg-primary', 'me-1', 'mb-1');
                    trackerDiv.textContent = code;

                    const removeBtn = document.createElement('span');
                    removeBtn.classList.add('ms-2', 'text-white', 'cursor-pointer');
                    removeBtn.innerHTML = '&times;';
                    removeBtn.style.cursor = 'pointer';

                    removeBtn.addEventListener('click', () => {
                        selectedTrackers.splice(index, 1);  // Удаляем выбранный код из массива
                        updateSelectedTrackers();  // Обновляем отображение
                    });

                    trackerDiv.appendChild(removeBtn);
                    selectedTrackersContainer.appendChild(trackerDiv);
                });
            }

            trackerInput.addEventListener('change', function () {
                const selectedCode = trackerInput.value.trim();

                if (selectedCode && !selectedTrackers.includes(selectedCode)) {
                    selectedTrackers.push(selectedCode);
                    updateSelectedTrackers();
                }

                trackerInput.value = '';  // Очищаем поле ввода для следующего ввода
            });

            // Обновляем скрытое поле непосредственно перед отправкой формы
            document.querySelector('form').addEventListener('submit', function () {
                selectedTrackersInput.value = selectedTrackers.join(',');
            });
        });
    </script>
    <script src="{% static 'js/inventory-numbers-adding.js' %}"></script>
{% endblock %}
