{% extends "base.html" %}
{% load static %}

{% block title %}Редактировать поступление{% endblock %}

{% block content %}
    <script>
        function removePhotoEdit(photoId) {
            fetch(`/incomings/delete-photo/${photoId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }).then(response => {
                if (response.ok) {
                    document.getElementById(`photo-${photoId}`).remove();
                }
            });
        }
    </script>
    <!-- Модальное окно -->
    <div class="modal fade" id="additionalInputModal" tabindex="-1" aria-labelledby="additionalInputModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="additionalInputModalLabel">Инвентарные номера</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inventory-input">Инвентарные номера</label>
                            <input id="inventory-input" list="inventory-list" class="form-control" placeholder="Введите инвентарный номер">
                            <datalist id="inventory-list"></datalist>
                            <div id="selected-inventory-numbers" class="mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl flex-grow-1 container-p-y">
        {% if messages %}
            <div id="alert-box" class="mb-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Приемка/</span>Редактировать поступление</h4>
        <form method="post" enctype="multipart/form-data" action="{% url 'deliveries:edit-incoming' pk=incoming.pk %}">
            {% csrf_token %}
            <div class="accordion" id="collapsibleSection">
                <input type="hidden" id="selected-inventory-input" name="inventory_numbers">
                <input type="hidden" id="tracker_inventory_map_input" name="tracker_inventory_map">

                <!-- Детали поступления -->
                <div class="card accordion-item active">
                    <h2 class="accordion-header" id="headingBaseIncoming">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBaseIncoming" aria-expanded="true" aria-controls="collapseBaseIncoming">
                            1. Детали поступления
                        </button>
                    </h2>
                    <div id="collapseBaseIncoming" class="accordion-collapse collapse show" aria-labelledby="headingBaseIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="tracker">Трек-коды:</label>
                                        <input type="text" name="tracker" id="tracker-input" class="form-control" {% if incoming.status != "Template" %}disabled{% endif %}>
                                        <div class="form-check mt-2">
                                            <input type="checkbox" class="form-check-input" id="no-tracker-checkbox" {% if incoming.status != "Template" %}disabled{% endif %}>
                                            <label class="form-check-label" for="no-tracker-checkbox">Нет трек-кода</label>
                                        </div>
                                        <input type="hidden" id="selected-trackers-input" name="tracker">
                                        <div id="selected-trackers" class="mt-2" {% if incoming.status != "Template" %}hidden{% endif %}></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.places_count.label_tag }} {{ form.places_count }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.arrival_date.label_tag }} <input type="datetime-local" name="arrival_date" class="form-control" value="{{ incoming.arrival_date|date:'Y-m-d\TH:i' }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.status.label_tag }} {{ form.status }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="tag">Тег клиента:</label>
                                        <input type="text" name="tag" class="form-control" value="{{ incoming.tag.name }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Фотографии поступления -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingPhotoIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePhotoIncoming" aria-expanded="false" aria-controls="collapsePhotoIncoming">
                            2. Фотографии поступления
                        </button>
                    </h2>
                    <div id="collapsePhotoIncoming" class="accordion-collapse collapse" aria-labelledby="headingPhotoIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div id="existing-photos">
                                            <h5>Существующие фото</h5>
                                            <div class="row">
                                                {% for photo in incoming.images_set.all %}
                                                    <div class="col-md-3" id="photo-{{ photo.id }}">
                                                        <img src="{{ photo.photo.url }}" class="img-fluid" alt="Фото">
                                                        <button type="button" class="btn btn-danger mt-2" onclick="removePhotoEdit('{{ photo.id }}')">Удалить</button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="accordion-body">
                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <div class="card-body">
                                                        <div id="formset-container">
                                                            {{ formset.management_form }}
                                                            <label for="photo">Загрузить фото:</label>
                                                            <input type="file" name="photo" multiple>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Прочая информация -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingOthersIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOthersIncoming" aria-expanded="true" aria-controls="collapseOthersIncoming">
                            3. Прочая информация
                        </button>
                    </h2>
                    <div id="collapseOthersIncoming" class="accordion-collapse collapse" aria-labelledby="headingOthersIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.size.label_tag }} {{ form.size }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.state.label_tag }} {{ form.state }}
                                        <input type="hidden" name="state" value="{{ form.state.value }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.package_type.label_tag }} {{ form.package_type }}
                                        <input type="hidden" name="package_type" value="{{ form.package_type.value }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.weight.label_tag }} {{ form.weight }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Персоналии -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingPersonalia">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePersonalia" aria-expanded="false" aria-controls="collapsePersonalia">
                            4. Персоналии
                        </button>
                    </h2>
                    <div id="collapsePersonalia" class="accordion-collapse collapse" aria-labelledby="headingPersonalia" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="form-group">
                                <label for="client-input">Клиент</label>
                                <input type="text" id="client-input" name="client" class="form-control" list="client-list" placeholder="Введите имя, email или телефон" value="{% if incoming.client %}{{ incoming.client.profile.phone_number }}{% endif %}">
                                <datalist id="client-list"></datalist>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Размещение на локации -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingLocationIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLocationIncoming" aria-expanded="false" aria-controls="collapseLocationIncoming">
                            5. Размещение на локации
                        </button>
                    </h2>
                    <div id="collapseLocationIncoming" class="accordion-collapse collapse" aria-labelledby="headingLocationIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="row g-3" id="location-selection">
                                {% for group in location_inventory_groups %}
                                    <div class="col-12 location-item" data-item-index="{{ forloop.counter0 }}">
                                        <div class="row g-3">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="inventory-input-{{ forloop.counter0 }}">Инвентарные номера</label>
                                                    <input id="inventory-input-{{ forloop.counter0 }}" class="form-control inventory-input" data-item-index="{{ forloop.counter0 }}" placeholder="Введите номер и нажмите Enter">
                                                    <input type="hidden" name="inventory_numbers_{{ forloop.counter0 }}" id="hidden-inventory-numbers-{{ forloop.counter0 }}" value="{{ group.inventory_numbers|join:',' }}">
                                                    <div id="inventory-numbers-list-{{ forloop.counter0 }}" class="mt-2">
                                                        {% for number in group.inventory_numbers %}
                                                            <span class="badge bg-primary me-1" data-number="{{ number }}">{{ number }} <span class="ms-2 text-white cursor-pointer">×</span></span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="location-{{ forloop.counter0 }}">Локация</label>
                                                    <select name="location_{{ forloop.counter0 }}" class="form-control" id="location-{{ forloop.counter0 }}">
                                                        <option value="">Выберите локацию</option>
                                                        {% for location in locations %}
                                                            <option value="{{ location.id }}" {% if location.id == group.location_id %}selected{% endif %}>
                                                                {{ location.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group mt-4">
                                                    <button type="button" class="btn btn-icon btn-outline-danger delete-item-btn" data-item-index="{{ forloop.counter0 }}">
                                                        <span class="bi bi-trash"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-sm btn-outline-primary add-item-btn">
                                    <span class="bi bi-plus-circle me-2"></span>Добавить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Сохранить изменения</button>
            <button type="submit" name="save_draft" class="btn btn-label-success mt-4 waves-effect">Сохранить как черновик</button>
            <a href="{% url 'deliveries:delete-incoming' incoming.id %}" class="btn btn-label-danger waves-effect mt-4">Удалить</a>
            <a href="{% url 'deliveries:list-incoming' %}" class="btn btn-secondary mt-4">Отмена</a>
            <input type="hidden" id="tracker_inventory_map_input" name="tracker_inventory_map">
            <input type="hidden" id="inventory_numbers_input" name="inventory_numbers">
        </form>
    </div>
    <script>
        let codesNumsMap = JSON.parse('{{ codes_nums_map|escapejs }}');
        let locsNumsMap = JSON.parse('{{ locs_num_map|escapejs }}');
    </script>
    <script src="{% static 'js/input-size-mask.js' %}"></script>
    <script src="{% static 'js/client-searching-edit.js' %}"></script>
    <script src="{% static 'js/disabling-additional-fields.js' %}"></script>
    <script src="{% static 'js/auto-fields-filling.js' %}"></script>
    <script src="{% static 'js/submit-logic-edit.js' %}"></script>
    <script>
        window.addEventListener("beforeunload", function () {
            localStorage.removeItem('trackerInventoryMap');
        });
    </script>
{% endblock %}