{% extends "base.html" %}
{% load static %}

{% block title %}Редактировать поступление{% endblock %}

{% block content %}
    <script src="{% static 'js/input-size-mask.js' %}"></script>
    <script>
        function removePhotoEdit(photoId) {
            // Отправка AJAX-запроса для удаления фото
            fetch(`/incomings/delete-photo/${photoId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }).then(response => {
                if (response.ok) {
                    // Удаляем элемент фотографии с экрана
                    document.getElementById(`photo-${photoId}`).remove();
                }
            });
        }
    </script>
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Приемка/</span>Редактировать поступление</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="accordion" id="collapsibleSection">
                <!-- первая строка -->
                <div class="card accordion-item active">
                    <h2 class="accordion-header" id="headingBaseIncoming">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseBaseIncoming" aria-expanded="true"
                                aria-controls="collapseBaseIncoming">
                            1. Детали поступления
                        </button>
                    </h2>
                    <div id="collapseBaseIncoming" class="accordion-collapse collapse show"
                         aria-labelledby="headingBaseIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <!-- Поля формы Incoming -->
                            <div class="row g-3">
                                <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Активные трек-коды:</h5>
                                    <ul>
                                        {% for code in active_tracker_codes %}
                                            <li>{{ code.code }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.places_count.label_tag }} {{ form.places_count }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.arrival_date.label_tag }} {{ form.arrival_date }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.size.label_tag }} {{ form.size }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.weight.label_tag }} {{ form.weight }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.state.label_tag }} {{ form.state }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.package_type.label_tag }} {{ form.package_type }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.status.label_tag }}
                                        {{ form.status }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!-- Поле для редактирования тега -->
                                        <label for="tag">Тег клиента:</label>
                                        <input type="text" name="tag" class="form-control"
                                               value="{{ incoming.tag.name }}">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inventory-input">Инвентарные номера</label>
                                        <input id="inventory-input" list="inventory-list" class="form-control"
                                               placeholder="Введите инвентарный номер">
                                        <datalist id="inventory-list">
                                            {% for inventory_number in available_inventory_numbers %}
                                                {% if inventory_number.is_occupied == False %}
                                                    <option value="{{ inventory_number.number }}"></option>
                                                {% endif %}
                                            {% endfor %}
                                        </datalist>

                                        <!-- Скрытое поле для передачи выбранных инвентарных номеров -->
                                        <input type="hidden" id="selected-inventory-input" name="inventory_numbers">

                                        <!-- Скрытое поле для хранения изначальных инвентарных номеров -->
                                        <input type="hidden" id="initial-inventory-numbers"
                                               name="initial_inventory_numbers"
                                               value="{% for inventory_number in incoming.inventory_numbers.all %}{{ inventory_number.number }}{% if not forloop.last %},{% endif %}{% endfor %}">


                                        <!-- Блок для отображения выбранных инвентарных номеров -->
                                        <div id="selected-inventory-numbers" class="mt-2">
                                            {% for inventory_number in incoming.inventory_numbers.all %}
                                                <div class="selected-inventory badge bg-primary me-1 mb-1">
                                                    {{ inventory_number.number }}
                                                    <span class="ms-2 text-white cursor-pointer"
                                                          data-number="{{ inventory_number.number }}">&times;</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- вторая строка: фотографии -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingPhotoIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePhotoIncoming" aria-expanded="false"
                                aria-controls="collapsePhotoIncoming">
                            2. Фотографии поступления
                        </button>
                    </h2>
                    <div id="collapsePhotoIncoming" class="accordion-collapse collapse"
                         aria-labelledby="headingPhotoIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div id="existing-photos">
                                            <h5>Существующие фото</h5>
                                            <div class="row">
                                                {% for photo in incoming.images_set.all %}
                                                    <div class="col-md-3" id="photo-{{ photo.id }}">
                                                        <img src="{{ photo.photo.url }}" class="img-fluid" alt="Фото">
                                                        <button type="button" class="btn btn-danger mt-2"
                                                                onclick="removePhotoEdit('{{ photo.id }}')">Удалить
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- Поле для добавления новых фото -->
                                        <div id="collapsePhotoIncoming" class="accordion-collapse collapse"
                                             aria-labelledby="headingPhotoIncoming"
                                             data-bs-parent="#collapsibleSection">
                                            <div class="accordion-body">
                                                <div class="row g-3">
                                                    <div class="col-12">
                                                        <div class="card-body">
                                                            <div id="formset-container">
                                                                {{ formset.management_form }}
                                                                <label for="photo">Загрузить фото:</label>
                                                                <input type="file" name="photo" multiple>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- третья строка: прочая информация -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingOthersIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOthersIncoming" aria-expanded="true"
                                aria-controls="collapseOthersIncoming">
                            3. Прочая информация
                        </button>
                    </h2>
                    <div id="collapseOthersIncoming" class="accordion-collapse collapse"
                         aria-labelledby="headingOthersIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <!-- Прочие поля формы -->
                            <div class="row g-3">
                                <!-- Добавьте дополнительные поля, если нужно -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Сохранить изменения</button>
            <a href="{% url 'deliveries:list-incoming' %}" class="btn btn-secondary mt-4">Отмена</a>
            <!-- Кнопка для отмены -->
            {{ form.errors }}
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const trackerInput = document.getElementById('tracker-input');
            const selectedTrackersContainer = document.getElementById('selected-trackers');
            const selectedTrackersInput = document.getElementById('selected-trackers-input');

            // Массив для хранения выбранных трек-номеров
            let selectedTrackers = [];

            // Инициализируем массив уже существующих трек-номеров, если они есть
            document.querySelectorAll('#selected-trackers .selected-tracker').forEach(function (trackerDiv) {
                const trackerCode = trackerDiv.getAttribute('data-code');
                selectedTrackers.push(trackerCode.trim());  // Убираем возможные пробелы
            });

            // Функция для обновления отображения выбранных трек-номеров и скрытого поля
            function updateSelectedTrackers() {
                selectedTrackersContainer.innerHTML = '';  // Очистка контейнера
                selectedTrackersInput.value = selectedTrackers.join(',');  // Обновление скрытого поля

                selectedTrackers.forEach((code) => {
                    const trackerDiv = document.createElement('div');
                    trackerDiv.classList.add('selected-tracker', 'badge', 'bg-primary', 'me-1', 'mb-1');
                    trackerDiv.textContent = code.trim();  // Убираем пробелы

                    const removeBtn = document.createElement('span');
                    removeBtn.classList.add('ms-2', 'text-white', 'cursor-pointer');
                    removeBtn.innerHTML = '&times;';
                    removeBtn.addEventListener('click', () => {
                        selectedTrackers = selectedTrackers.filter(c => c !== code.trim());  // Удаляем код из массива
                        updateSelectedTrackers();  // Обновляем отображение
                    });

                    trackerDiv.appendChild(removeBtn);
                    selectedTrackersContainer.appendChild(trackerDiv);
                });
            }

            // Добавление трек-номера при выборе
            trackerInput.addEventListener('change', function () {
                const selectedCode = trackerInput.value.trim();  // Убираем пробелы
                if (selectedCode && !selectedTrackers.includes(selectedCode)) {
                    selectedTrackers.push(selectedCode);  // Добавляем код в массив
                    updateSelectedTrackers();  // Обновляем отображение
                }
                trackerInput.value = '';  // Очищаем поле для следующего ввода
            });

            // Обновляем скрытое поле непосредственно перед отправкой формы
            document.querySelector('form').addEventListener('submit', function () {
                selectedTrackersInput.value = selectedTrackers.join(',');
            });

            // Обработка удаления уже существующих трек-номеров при клике на крестик
            document.querySelectorAll('#selected-trackers .cursor-pointer').forEach(removeBtn => {
                removeBtn.addEventListener('click', function () {
                    const codeToRemove = this.parentNode.getAttribute('data-code').trim();  // Убираем пробелы
                    selectedTrackers = selectedTrackers.filter(c => c !== codeToRemove);  // Удаляем код из массива
                    updateSelectedTrackers();
                });
            });
        });

    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const inventoryInput = document.getElementById('inventory-input');
            const selectedInventoryContainer = document.getElementById('selected-inventory-numbers');
            const selectedInventoryInput = document.getElementById('selected-inventory-input');
            const initialInventoryInput = document.getElementById('initial-inventory-numbers');


            let selectedInventoryNumbers = [];
            let initialInventoryNumbers = initialInventoryInput.value.split(',').filter(n => n.trim() !== '');

            // Инициализируем массив выбранных инвентарных номеров уже существующими значениями
            {% for inventory_number in incoming.inventory_numbers.all %}
                selectedInventoryNumbers.push("{{ inventory_number.number }}");
            {% endfor %}

            function updateSelectedInventoryNumbers() {
                selectedInventoryContainer.innerHTML = '';
                selectedInventoryInput.value = selectedInventoryNumbers.join(',');

                selectedInventoryNumbers.forEach((number) => {
                    const inventoryDiv = document.createElement('div');
                    inventoryDiv.classList.add('selected-inventory', 'badge', 'bg-primary', 'me-1', 'mb-1');
                    inventoryDiv.textContent = number;

                    const removeBtn = document.createElement('span');
                    removeBtn.classList.add('ms-2', 'text-white', 'cursor-pointer');
                    removeBtn.innerHTML = '&times;';
                    removeBtn.addEventListener('click', () => {
                        selectedInventoryNumbers = selectedInventoryNumbers.filter(n => n !== number);
                        updateSelectedInventoryNumbers();
                    });

                    inventoryDiv.appendChild(removeBtn);
                    selectedInventoryContainer.appendChild(inventoryDiv);
                });
            }

            // Обработка добавления нового инвентарного номера
            inventoryInput.addEventListener('change', function () {
                const selectedNumber = inventoryInput.value.trim();
                if (selectedNumber && !selectedInventoryNumbers.includes(selectedNumber)) {
                    selectedInventoryNumbers.push(selectedNumber);
                    updateSelectedInventoryNumbers();
                }
                inventoryInput.value = '';
            });

            // Инициализируем удаление для уже существующих инвентарных номеров
            document.querySelectorAll('#selected-inventory-numbers .cursor-pointer').forEach(removeBtn => {
                removeBtn.addEventListener('click', function () {
                    const numberToRemove = this.getAttribute('data-number');
                    selectedInventoryNumbers = selectedInventoryNumbers.filter(n => n !== numberToRemove);
                    updateSelectedInventoryNumbers();
                });
            });

            // Обновляем скрытое поле перед отправкой формы
            document.querySelector('form').addEventListener('submit', function () {
                selectedInventoryInput.value = selectedInventoryNumbers.join(',');
            });
        });
    </script>
    <!-- TODO: add check for tag-owner + track-number-owner !-->
{% endblock %}
