{% extends "base.html" %}
{% load static %}

{% block title %}Редактировать поступление{% endblock %}

{% block content %}
    <script>
        function removePhotoEdit(photoId) {
            // Отправка AJAX-запроса для удаления фото
            fetch(`/incomings/delete-photo/${photoId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }).then(response => {
                if (response.ok) {
                    // Удаляем элемент фотографии с экрана
                    document.getElementById(`photo-${photoId}`).remove();
                }
            });
        }
    </script>
    <!-- Модальное окно -->
    <div class="modal fade" id="additionalInputModal" tabindex="-1" aria-labelledby="additionalInputModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="additionalInputModalLabel">Инвентарные номера</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inventory-input">Инвентарные номера</label>
                            <input id="inventory-input" list="inventory-list" class="form-control"
                                   placeholder="Введите инвентарный номер" name="inventory_numbers">
                            <datalist id="inventory-list">
                                <!-- Список доступных инвентарных номеров -->
                            </datalist>
                            <!-- Блок для отображения выбранных инвентарных номеров -->
                            <div id="selected-inventory-numbers" class="mt-2">
                                <!-- Здесь будут динамически добавляться выбранные инвентарные номера -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button name="button-close-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Блок для отображения сообщений -->
        {% if messages %}
            <div id="alert-box" class="mb-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Приемка/</span>Редактировать поступление</h4>
        <form method="post" enctype="multipart/form-data" action="{% url 'deliveries:edit-incoming' pk=incoming.pk %}">
            {% csrf_token %}
            <div class="accordion" id="collapsibleSection">
                <input type="hidden" id="selected-inventory-input" name="inventory_numbers">
                <input type="hidden" id="tracker_inventory_map_input" name="tracker_inventory_map">

                <!-- первая строка -->
                <div class="card accordion-item active">
                    <h2 class="accordion-header" id="headingBaseIncoming">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseBaseIncoming" aria-expanded="true"
                                aria-controls="collapseBaseIncoming">
                            1. Детали поступления
                        </button>
                    </h2>
                    <div id="collapseBaseIncoming" class="accordion-collapse collapse show"
                         aria-labelledby="headingBaseIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <!-- Поля формы Incoming -->
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="tracker">Трек-коды:</label>
                                                <input type="text" name="tracker" id="tracker-input"
                                                       class="form-control">
                                                <div class="form-check mt-2">
                                                    <input type="checkbox" class="form-check-input"
                                                           id="no-tracker-checkbox">
                                                    <label class="form-check-label" for="no-tracker-checkbox">Нет
                                                        трек-кода</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Скрытое поле для передачи выбранных трекеров -->
                                        <input type="hidden" id="selected-trackers-input" name="tracker">

                                        <!-- Блок для отображения выбранных трекеров -->
                                        <div id="selected-trackers" class="mt-2">
                                            <!-- Здесь будут динамически добавляться выбранные коды -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.places_count.label_tag }} {{ form.places_count }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.arrival_date.label_tag }} {{ form.arrival_date }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.status.label_tag }}
                                        {{ form.status }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!-- Поле для редактирования тега -->
                                        <label for="tag">Тег клиента:</label>
                                        <input type="text" name="tag" class="form-control"
                                               value="{{ incoming.tag.name }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- вторая строка: фотографии -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingPhotoIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePhotoIncoming" aria-expanded="false"
                                aria-controls="collapsePhotoIncoming">
                            2. Фотографии поступления
                        </button>
                    </h2>
                    <div id="collapsePhotoIncoming" class="accordion-collapse collapse"
                         aria-labelledby="headingPhotoIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div id="existing-photos">
                                            <h5>Существующие фото</h5>
                                            <div class="row">
                                                {% for photo in incoming.images_set.all %}
                                                    <div class="col-md-3" id="photo-{{ photo.id }}">
                                                        <img src="{{ photo.photo.url }}" class="img-fluid" alt="Фото">
                                                        <button type="button" class="btn btn-danger mt-2"
                                                                onclick="removePhotoEdit('{{ photo.id }}')">Удалить
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- Поле для добавления новых фото -->
                                        <div id="collapsePhotoIncoming" class="accordion-collapse collapse"
                                             aria-labelledby="headingPhotoIncoming"
                                             data-bs-parent="#collapsibleSection">
                                            <div class="accordion-body">
                                                <div class="row g-3">
                                                    <div class="col-12">
                                                        <div class="card-body">
                                                            <div id="formset-container">
                                                                {{ formset.management_form }}
                                                                <label for="photo">Загрузить фото:</label>
                                                                <input type="file" name="photo" multiple>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- третья строка: прочая информация -->
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingOthersIncoming">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOthersIncoming" aria-expanded="true"
                                aria-controls="collapseOthersIncoming">
                            3. Прочая информация
                        </button>
                    </h2>
                    <div id="collapseOthersIncoming" class="accordion-collapse collapse"
                         aria-labelledby="headingOthersIncoming" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <!-- Прочие поля формы -->
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.size.label_tag }} {{ form.size }}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.state.label_tag }} {{ form.state }}
                                        <input type="hidden" name="state" value="{{ form.state.value }}">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.package_type.label_tag }} {{ form.package_type }}
                                        <input type="hidden" name="package_type" value="{{ form.package_type.value }}">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.weight.label_tag }} {{ form.weight }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingPersonalia">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePersonalia" aria-expanded="false"
                                aria-controls="collapsePersonalia">
                            4. Персоналии
                        </button>
                    </h2>
                    <div id="collapsePersonalia" class="accordion-collapse collapse"
                         aria-labelledby="headingPersonalia" data-bs-parent="#collapsibleSection">
                        <div class="accordion-body">
                            <div class="form-group">
                                <label for="client-input">Клиент</label>
                                <input type="text" id="client-input" name="client" class="form-control"
                                       list="client-list" placeholder="Введите имя, email или телефон"
                                       value="
                                               {% if incoming.client %}{{ incoming.client.profile.phone_number }}{% endif %}">
                                <datalist id="client-list"></datalist>
                            </div>
                        </div>
                    </div>
                </div>

                <input id="initial-inventory-numbers" type="hidden" name="inventory_numbers">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Сохранить изменения</button>
            <a href="{% url 'deliveries:delete-incoming' incoming.id %}" class="btn btn-label-danger waves-effect mt-4">Удалить</a>
            <a href="{% url 'deliveries:list-incoming' %}" class="btn btn-secondary mt-4">Отмена</a>
            <input type="hidden" id="tracker_inventory_map_input" name="tracker_inventory_map">
            <input type="hidden" id="inventory_numbers_input" name="inventory_numbers">
            <!-- Кнопка для отмены -->
        </form>
    </div>
    <script src="{% static 'js/input-size-mask.js' %}"></script>
    <script src="{% static 'js/client-searching-edit.js' %}"></script>
    <script src="{% static 'js/disabling-additional-fields.js' %}"></script>
    <script src="{% static 'js/incoming-form-logic.js' %}"></script>
    <script src="{% static 'js/submit-logic.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectedTrackersContainer = document.getElementById("selected-trackers-input");
            const modal = new bootstrap.Modal(document.getElementById("additionalInputModal"));
            const selectedInventoryContainer = document.getElementById("selected-inventory-numbers");
            let codesNumsMap = JSON.parse('{{ codes_nums_map|escapejs }}');

            let trackerInventoryMap = JSON.parse(localStorage.getItem('trackerInventoryMap')) || {};

            for (let trackerCode in codesNumsMap) {
                let inventoryNumbers = codesNumsMap[trackerCode];

                if (!trackerInventoryMap[trackerCode]) {
                    trackerInventoryMap[trackerCode] = [];
                }

                trackerInventoryMap[trackerCode] = inventoryNumbers;
            }

            localStorage.setItem('trackerInventoryMap', JSON.stringify(trackerInventoryMap));

            let selectedTrackers = Object.keys(trackerInventoryMap);

            function updateSelectedTrackers() {
                selectedTrackersContainer.innerHTML = '';

                selectedTrackers.forEach((code) => {
                    const trackerDiv = document.createElement("div");
                    trackerDiv.classList.add("badge", "bg-primary", "me-1", "mb-1", "selected-tracker");
                    trackerDiv.textContent = code;
                    trackerDiv.style.cursor = "pointer";

                    trackerDiv.addEventListener("click", () => {
                        loadInventoryNumbersForTracker(code);
                        modal.show();
                    });

                    const removeBtn = document.createElement("span");
                    removeBtn.classList.add("ms-2", "text-white", "cursor-pointer");
                    removeBtn.innerHTML = "&times;";
                    removeBtn.addEventListener("click", (event) => {
                        event.stopPropagation();
                        selectedTrackers = selectedTrackers.filter(t => t !== code);
                        delete trackerInventoryMap[code];
                        localStorage.setItem('trackerInventoryMap', JSON.stringify(trackerInventoryMap));
                        updateSelectedTrackers();
                    });

                    trackerDiv.appendChild(removeBtn);
                    selectedTrackersContainer.appendChild(trackerDiv);
                });
            }

            function loadInventoryNumbersForTracker(trackerCode) {
                document.getElementById("additionalInputModalLabel").textContent = `Инвентарные номера для трек-кода: ${trackerCode}`;
                selectedInventoryContainer.innerHTML = "";
                const inventoryNumbers = trackerInventoryMap[trackerCode] || [];

                inventoryNumbers.forEach((number) => {
                    const inventoryDiv = document.createElement("div");
                    inventoryDiv.classList.add("badge", "bg-secondary", "me-1", "mb-1", "selected-inventory");
                    inventoryDiv.textContent = number;

                    const removeBtn = document.createElement("span");
                    removeBtn.classList.add("ms-2", "text-white", "cursor-pointer");
                    removeBtn.innerHTML = "&times;";
                    removeBtn.addEventListener("click", () => {
                        trackerInventoryMap[trackerCode] = trackerInventoryMap[trackerCode].filter(n => n !== number);
                        localStorage.setItem('trackerInventoryMap', JSON.stringify(trackerInventoryMap));
                        loadInventoryNumbersForTracker(trackerCode);
                    });

                    inventoryDiv.appendChild(removeBtn);
                    selectedInventoryContainer.appendChild(inventoryDiv);
                });
            }

            updateSelectedTrackers();
        });
    </script>
    <script>
        window.addEventListener("beforeunload", function () {
            // Удаляем только данные, связанные с трекерами и инвентарниками
            localStorage.removeItem('trackerInventoryMap');
        });
    </script>


{% endblock %}
