{% extends "base.html" %}
{% load static %}

{% block title %}{{ "Новая метка" }}{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Метки/</span>
            Новый трекинг
        </h4>
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.name.label_tag }} {{ form.name }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form.tracking_codes.label_tag }} {{ form.tracking_codes }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">
                Создать трекинг
            </button>
        </form>
    </div>
{% endblock %}
