{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">Profile Information</div>
        <div class="card-body">
            <p>Username: {{ user.username }}</p>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Phone number: {{ user.profile.phone_number }}</p>
            <p>Email: {{ user.email }}</p>
            <p></p>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-primary w-100">Log out</button>
            </form>
        </div>
    </div>
{% endblock %}
