{% extends "base.html" %}
{% load static %}

{% block title %}{{ package_type.name|default:"Редактировать вид упаковки" }}{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Виды упаковок/</span>
            {{ package_type.name|default:"Редактировать вид упаковки" }}
        </h4>
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.name.label_tag }} {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.price.label_tag }} {{ form.price }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.description.label_tag }} {{ form.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">
                {% if tag.id %}Обновить вид упаковки{% else %}Создать вид упаковки{% endif %}
            </button>
            <a href="{% url 'deliveries:list-package-type' %}" class="btn btn-secondary mt-4">Отмена</a>
        {{ form.errors }}
        </form>
    </div>
{% endblock %}
